body{
	font: 14px/normal Verdana, Arial, sans-serif;
}

/*font style */
h1{ font-family: "Berlin sans FB",sans-serif; font-size: 40px; margin : 25px 0;}
h2{ font-family: Consolas,Arial,Verdana,sans-serif; font-size: 25px; font-style: italic; margin : 20px 10px;}
h3{ font-size: 20px; margin : 15px 20px;}
h4{ font-size: 18px; margin : 10px 30px;}
h5{ font-size: 15px; font-style: italic; margin : 10px 40px; }
p{}
li{ font-size: 15px; }
a{  color :  #2B5380; text-decoration: none;}
a:hover{ border-bottom : 1px dotted;}
a:visited{ color : #1B2426;}
i{ font-style: italic; color : #444;}
b{ font-weight: bold; }
code{ font-family : Consolas,Arial,Verdana,sans-serif; color : #5BA1CF; background : #1B2426; font-weight : bold; padding : 0 1px;}

ul{margin : 10px;}

.layout{
	width : 1000px;
	margin : auto;
}

.syntaxhighlighter{ overflow : hidden !important;}